@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #6c9d87;
    min-height: 100%;
}

.wrapper {
    max-width: 80%;
    background-color: #FCF6F5FF;
    margin: 0 auto;
    height: 100%;
}

a {
    letter-spacing: 1px;
}

header {
    height: auto;
    text-align: center;
    padding-bottom: 2rem;
}

.title {
    width: 100%;
    height: auto;
    padding: 20px;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
        0 0 2px rgb(0 0 0 / 7%);
}

.title h1 {
    font-family: 'Berkshire Swash', cursive;
    font-weight: lighter;
}

nav{
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    align-items: center;
}
  
.navbar li {
    margin: 0px 45px 0px 0px;
    list-style: none;
}
  
.navbar a {
    color: #474747f3;
    text-decoration: none;
}

.navbar a:hover {
    color: #990011FF;
}

/* Box 1 */

.box-1 img{
    height: 43vh;
    width: 25vw;
    flex: 1;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    
}

.box-1 {
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 6%),
        0 0 2px rgb(0 0 0 / 7%) inset;
    padding-bottom: 2rem;
    background-color: #fff;
}

.box-1 p {
    flex: 1;
    height: auto;
    width: auto;
    padding: 10px 30px 0px 30px;
    font-size: 20px;
}

/* Box 2 */

.box-2 img{
    order: 2;
    height: 43vh;
    width: 25vw;
    flex: 1;
    margin: 20px 20px 0px 0px;
    border-radius: 10px;
    
}

.box-2 {
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 6%),
        0 0 2px rgb(0 0 0 / 7%) inset;
    padding-bottom: 2rem;
}

.box-2 p {
    order: 1;
    flex: 1;
    height: auto;
    width: auto;
    padding: 10px 30px 0px 30px;
    font-size: 20px;
    
}

/* Box 3 */

.box-3 img{
    height: 43vh;
    width: 25vw;
    flex: 1;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    
}

.box-3 {
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 6%),
        0 0 2px rgb(0 0 0 / 7%) inset;
    padding-bottom: 2rem;
    background-color: #fff;
}

.box-3 p {
    flex: 1;
    height: auto;
    width: auto;
    padding: 10px 30px 0px 30px;
    font-size: 20px;
    
}

/* Box 4 */

.box-4 img{
    order: 2;
    height: 43vh;
    width: 25vw;
    flex: 1;
    margin: 20px 20px 0px 0px;
    border-radius: 10px;
    
}

.box-4 {
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 6%),
        0 0 2px rgb(0 0 0 / 7%) inset;
    padding-bottom: 2rem;
}

.box-4 p {
    order: 1;
    flex: 1;
    height: auto;
    width: auto;
    padding: 10px 30px 0px 30px;
    font-size: 20px;
    
}


/* Footer */

footer {
    
    background-color: #d8d8d8f3;
    font-size: smaller;
}

.top-footer {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 50px;
}

.footer-text {
    width: 35%;
}

.footer-text h4 {
    padding-bottom: 7px;
}
  
.footer-links h4 {
    padding-bottom: 7px;
}

.footer-text p {
    color: #474747f3;
}

.footer-links ul{
    list-style: none;
}

.footer-links a {
    text-decoration: none;
    color: #474747f3;
}

.footer-links a:hover {
    color: #6c9d87;
}

.bottom-footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #6c9d87;
}

/* Text Styles */

.text-lg {
    font-family: 'Oxygen', sans-serif;
    font-size: 38px;
    font-weight: 400;
}
.text-md {
    font-family: 'Oxygen', sans-serif;
    font-size: 28px;
    font-weight: 300;
}
.text-sm {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    font-weight: 300;
}



@media (max-width: 1240px) {
    .text-lg {
      font-size: 30px;
    }
}
  
@media (max-width: 1100px) {
    .box-1 {
        display: flex;
        flex-direction: column;
    }
    .box-1 img {
        height: auto;
        width: 25rem;
    }
    .box-1 p {
        text-align: center;
    }
    .box-2 {
        display: flex;
        flex-direction: column;
    }
    .box-2 img {
        order: 1;
        height: auto;
        width: 25rem;
    }
    .box-2 p {
        text-align: center;
    }
    .box-3 {
        display: flex;
        flex-direction: column;
    }
    .box-3 img {
        height: auto;
        width: 25rem;
    }
    .box-3 p {
        text-align: center;
    }
    .box-4 {
        display: flex;
        flex-direction: column;
    }
    .box-4 img {
        order: 1;
        height: auto;
        width: 25rem;
    }
    .box-4 p {
        text-align: center;
    }
}
  
@media (max-width: 900px) {
    .text-lg {
     font-size: 23px;
    }
    
}
  
@media (max-width: 800px) {
    .navbar ul {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
    .navbar li{
      margin: 0px 0px 7px 0px;
    }
    .text-md {
      font-size: 24px;
    }
}