@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #6c9d87;
    min-height: 100%;
}

/* Header */

.wrapper {
    max-width: 80%;
    background-color: #FCF6F5FF;
    margin: 0 auto;
    height: 100%;
}

p {
    letter-spacing: 1px;
}

a {
    letter-spacing: 1px;
}
.main-container a:hover {
  background-color: #FCF6F5FF;
  color: #990011FF;
  transition: 0.5s;
}

header {
    height: auto;
    text-align: center;
    padding-bottom: 2rem;
}

.title {
    width: 100%;
    height: auto;
    padding: 20px;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
        0 0 2px rgb(0 0 0 / 7%);
}

.title h1 {
    font-family: 'Berkshire Swash', cursive;
    font-weight: lighter;
}

nav{
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    align-items: center;
}
  
.navbar li {
    margin: 0px 45px 0px 0px;
    list-style: none;
}
  
.navbar a {
    color: #474747f3;
    text-decoration: none;
}

.navbar a:hover {
    color: #990011FF;
}

.main-container {
    display: flex;

}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text h2 {
    margin-bottom: 2rem;
    width: 80%;
    text-align: center;
}

.main-text p {
    width: 70%;
    text-align: center;
}

.image-container img {
    width: 440px;
    height: 440px;
    border-radius: 50%;
    border: 1px solid white;
}

.image-container {
    margin: 5rem 0rem 0rem 3rem;
}

.form-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto 3rem;
}

.volunteer-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    align-items: center;
    box-shadow: 2px 2px 6px rgb(59, 59, 59);
    margin: 0 3rem 0 0;
    padding: 2rem 0;
    border-radius: 20px;
}

.row {
    width: 80%;
}

.row label {
    width: 30%;
    float: left;
}

.row input {
    float: left;
    width: 60%;
    padding: 10px;
    line-height: 1;
    margin-bottom: 5px;
    border: 1px solid #868686f3;
    border-radius: 10px;
    outline: none;
}

.row button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(100, 100, 100);
    background-color: #990011FF;
    color: #FCF6F5FF;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

/* Footer */

footer {
    margin-top: 7rem;
    background-color: #d8d8d8f3;
    font-size: smaller;
}

.top-footer {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 50px;
}

.footer-text {
    width: 35%;
}

.footer-text h4 {
    padding-bottom: 7px;
}
  
.footer-links h4 {
    padding-bottom: 7px;
}

.footer-text p {
    color: #474747f3;
}

.footer-links ul{
    list-style: none;
}

.footer-links a {
    text-decoration: none;
    color: #474747f3;
}

.footer-links a:hover {
    color: #990011FF;
}

.bottom-footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #990011FF;
}

/* Text Styles */

.text-lg {
    font-family: 'Oxygen', sans-serif;
    font-size: 38px;
    font-weight: 400;
}
.text-md {
    font-family: 'Oxygen', sans-serif;
    font-size: 28px;
    font-weight: 300;
}
.text-sm {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

@media (max-width: 1300px) {
    .text-lg {
        font-size: 30px;
    }
    .main-container {
        display: flex;
        flex-direction: column;
    }
    .image-container {
        order: 2;
        margin: 0px 0px 2rem 0px;
        text-align: center;
    }
    .main-text {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .form-container {
        justify-content: center;
        
    }
    .volunteer-form {
        width: 70%;
        margin: 0;
    }
  }
  
  @media (max-width: 900px) {
    .text-lg {
     font-size: 23px;
    }
  }
  
  @media (max-width: 800px) {
    .navbar ul {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
    .navbar li{
      margin: 0px 0px 7px 0px;
    }
    .text-md {
      font-size: 24px;
    }
    .image-container img {
        height: 350px;
        width: 350px;
    }
    .row {
        text-align: center;
    }
    .row input{
        float: none;
    }
    .row label {
        float: none;
    }
    .row button {
        display: block;
        margin: 0 auto;
    }
  }